<div class="contentSection">
  <h2 class="textHd">Next Tournament</h2>
  <div class="openCon">
    <div class="content">
      <div class="con-1">
        <video
          autoplay
          muted
          playsinline
          preload="auto"
          loop
          src="https://framerusercontent.com/assets/3YoDkbBexhhqPYuS3hf9rjm8r4.mp4"
          class="background-video"
          poster="https://framerusercontent.com/images/2IK4mrB80H947NrE1WZ2f9HrWY.jpg"
        >
          Your browser does not support the video tag.
        </video>
        <div class="textSection">
          <h2 class="trnText">Unchained Battle With Twats</h2>
          <div class="bottomSection">
            <div class="bt">
              <h2 class="subText">Ends In 5hrs</h2>
            </div>
            <div class="bt">
              <h2 class="subText">Port Harcourt</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="con-2">
        <video
          autoplay
          muted
          loop
          playsinline
          preload="auto"
          class="background-video"
          src="https://framerusercontent.com/assets/5mVRsGgGvLcbO9e65aSw7jN6RcY.mp4"
          poster="https://framerusercontent.com/images/xlmY160nrdfBSxNi8MyKxkQLqA0.jpg"
        >
          Your browser does not support the video tag.
        </video>
        <div class="textSection">
          <h2 class="trnTex">Nurseman War Of Dogs - Part I</h2>
          <div class="bottomSection">
            <div class="bt">
              <h2 class="subText">Ends In 2hrs - Part I</h2>
            </div>
            <div class="bt">
              <h2 class="subText">OGB</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="con-3">
        <video
          autoplay
          muted
          loop
          src="https://framerusercontent.com/assets/Eeop5e6aBOQ5zOwzAp9XIKc6RU.mp4"
          class="background-video"
          poster="https://framerusercontent.com/images/J2myYm4eRDG3ylMhrFJ8YmUOM.jpg"
        >
          Your browser does not support the video tag.
        </video>
        <div class="textSection">
          <h2 class="trnTex">Bloody War Of Gods IV - Part I</h2>
          <div class="bottomSection">
            <div class="bt">
              <h2 class="subText">Starts In 2050</h2>
            </div>
            <div class="bt">
              <h2 class="subText">Space</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="conJob">
      <video
        class="w-full h-52 max-w-full object-cover border border-gray-200 rounded-lg dark:border-gray-700"
        controls
        playsinline
        preload="auto"
        poster="/assets/alter-apex-legends-3840x2160-16694.jpg"
      >
        <source
          src="/assets/videoplayback.mp4"
          type="video/mp4"
          class="object-cover"
        />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
<div class="bigBanner">
  <h2 class="bannerText">Hell is empty all the demons are here.</h2>
  <a class="trn">Become a Partner</a>
</div>
