<div class="blogTemp">
  <div class="tempHd flex gap-3 flex-row">
    <div class="tempImage">
      <img src="/assets/5014.jpg" class="rounded-full w-28 h-16 sm:w-16" />
    </div>
    <div class="tempText">
      <h2 class="text-customGreen text-lg sm:text-xl">
        The World Came To An End In Year 2030
      </h2>
      <div class="flex content-center flex-wrap mt-2 gap-3">
        <h2 class="text-sm text-gray-500">
          <span
            ><svg
              class="w-6 h-6 inline-block"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          <span> The Hound </span>
        </h2>
        <h2 class="text-sm text-gray-500">
          <span
            ><svg
              class="w-6 h-6 inline-block"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          <span> 1:06PM </span>
        </h2>
      </div>
    </div>
  </div>
  <div class="TempPreview mt-6">
    <video
      autoplay
      muted
      loop
      playsinline
      preload="auto"
      class="background-video rounded-md w-full"
      src="https://framerusercontent.com/assets/5mVRsGgGvLcbO9e65aSw7jN6RcY.mp4"
      poster="https://framerusercontent.com/images/xlmY160nrdfBSxNi8MyKxkQLqA0.jpg"
    >
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="TempBody mt-7">
    <h3 class="font-semibold text-lg text-gray-400">
      The End of the World in 2030: A Divine Decree?
    </h3>
    <p class="text-base mt-4 text-gray-400">
      As we edge closer to the year 2030, a pervasive sense of foreboding grips
      humanity. Predictions about the end of the world have been made countless
      times throughout history, often to no avail. However, a new and compelling
      narrative has emerged: the world ending in 2030 by divine decree. This
      blog explores the concept of an apocalypse orchestrated by God, examining
      its implications, historical precedents, and the potential lessons we can
      draw from such a prophecy.
    </p>
    <h3 class="font-semibold text-lg mt-6 text-gray-400">
      Historical Context of Apocalyptic Predictions
    </h3>
    <p class="text-base mt-4 text-gray-400">
      Throughout history, numerous cultures and religions have harbored
      apocalyptic beliefs. From the ancient Mayan civilization, which predicted
      the end in 2012, to various interpretations of the Christian Bible’s Book
      of Revelation, the idea of an impending doomsday has been a recurrent
      theme. While these predictions have often been dismissed or proven
      inaccurate, they reflect a deep-seated human concern about the future and
      our place in the universe.
    </p>
  </div>
  <div class="flex justify-between items-center mt-16 mb-6">
    <h2 class="text-lg font-semibold text-gray-400">Leave A Comment</h2>
  </div>
  <form class="mb-6">
    <div
      class="py-2 px-4 mb-4 bgBlack rounded-lg rounded-t-lg border border-gray-400"
    >
      <textarea
        id="comment"
        rows="6"
        class="px-0 w-full text-sm text-white bgBlack border-0 focus:ring-0"
        placeholder="Write a comment..."
        required
      ></textarea>
    </div>
    <button type="submit" class="focus:ring-0 trn">Post comment</button>
  </form>
</div>
