.mobileBar {
  background: #1f2023dc;
  position: fixed;
  bottom: 2%;
  display: none;
  transition: 0.5s ease-in-out;
  border: 1px solid #3b3b3a;
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
  flex-direction: row;
  gap: 10px;
  z-index: 2;
  padding: 15px;
  width: fit-content;
  border-radius: 3px;
}

.mobileBar.show {
  display: flex;
}
.plusC {
  background-color: #0d0d0d;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  /* clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%); */

  width: fit-content;
}
.plusCo {
  background-color: #54d54a;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 10px);

  width: fit-content;
}
.plusCont {
  border: 1px solid yellow;
  padding: 12px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%, 0 calc(100% - 5px));
  background-color: yellow;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
}
.plusCon {
  border: 1px solid #fff;
  padding: 12px;
  /* clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  ); */

  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
}
.imageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navName {
  color: #f2f2f2;
  font-size: 13px;
  font-family: "Audiowide", sans-serif;
}
.mobile {
  display: none;
}
@media (max-width: 720px) {
  .navSection {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: center;
    z-index: 2;
  }
}
