<section>
  <div class="loginPage">
    <div class="pageOne">
      <video
        autoplay
        muted
        loop
        playsinline
        preload="auto"
        class="background-video"
        src="https://framerusercontent.com/assets/5mVRsGgGvLcbO9e65aSw7jN6RcY.mp4"
        poster="https://framerusercontent.com/images/xlmY160nrdfBSxNi8MyKxkQLqA0.jpg"
      >
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="pageTwo">
      <video
        autoplay
        muted
        loop
        playsinline
        preload="auto"
        class="background-vid"
        src="https://framerusercontent.com/assets/5mVRsGgGvLcbO9e65aSw7jN6RcY.mp4"
        poster="https://framerusercontent.com/images/xlmY160nrdfBSxNi8MyKxkQLqA0.jpg"
      >
        Your browser does not support the video tag.
      </video>

      <section>
        <div
          class="flex flex-col items-center justify-center formD px-6 py-8 mx-auto md:h-screen sm:h-screen lg:py-0"
        >
          <div class="w-full formCont rounded-lg shadow sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <a
                routerLink="/"
                class="flex items-center justify-center mb-6 text-xl font-semibold text-customGreen"
              >
                <svg
                  class="w-8 h-8 text-customGreen"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M18 17h-.09c.058-.33.088-.665.09-1v-1h1a1 1 0 0 0 0-2h-1.09a5.97 5.97 0 0 0-.26-1H17a2 2 0 0 0 2-2V8a1 1 0 1 0-2 0v2h-.54a6.239 6.239 0 0 0-.46-.46V8a3.963 3.963 0 0 0-.986-2.6l.693-.693A1 1 0 0 0 16 4V3a1 1 0 1 0-2 0v.586l-.661.661a3.753 3.753 0 0 0-2.678 0L10 3.586V3a1 1 0 1 0-2 0v1a1 1 0 0 0 .293.707l.693.693A3.963 3.963 0 0 0 8 8v1.54a6.239 6.239 0 0 0-.46.46H7V8a1 1 0 0 0-2 0v2a2 2 0 0 0 2 2h-.65a5.97 5.97 0 0 0-.26 1H5a1 1 0 0 0 0 2h1v1a6 6 0 0 0 .09 1H6a2 2 0 0 0-2 2v2a1 1 0 1 0 2 0v-2h.812A6.012 6.012 0 0 0 11 21.907V12a1 1 0 0 1 2 0v9.907A6.011 6.011 0 0 0 17.188 19H18v2a1 1 0 0 0 2 0v-2a2 2 0 0 0-2-2Zm-4-8.65a5.922 5.922 0 0 0-.941-.251l-.111-.017a5.52 5.52 0 0 0-1.9 0l-.111.017A5.925 5.925 0 0 0 10 8.35V8a2 2 0 1 1 4 0v.35Z"
                  />
                </svg>
                Unchained
              </a>
              <h1
                class="text-base font-bold leading-tight text-center tracking-tight md:text-base text-gray-400"
              >
                Sign in to your account
              </h1>
              <form class="space-y-4 md:space-y-6">
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-400"
                    >Your email</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="bg-gray-400 formBox border text-bl rounded-lg focus:ring-customGreen focus:border-customGreen block w-full p-2.5"
                    placeholder="name@unchained.com"
                    required=""
                  />
                </div>
                <div>
                  <label
                    for="password"
                    class="block mb-2 text-sm font-medium text-gray-400"
                    >Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="••••••••"
                    class="bg-gray-400 formBox text-black rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                    required=""
                  />
                </div>
                <div class="flex items-center justify-between">
                  <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <input
                        id="remember"
                        aria-describedby="remember"
                        type="checkbox"
                        class="w-4 h-4 border border-gray-400 rounded bg-customPurple focus:ring-3 focus:ring-customGreen checked:bg-customGreen"
                        required=""
                      />
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="remember" class="text-gray-400"
                        >Remember me</label
                      >
                    </div>
                  </div>
                  <a
                    href="#"
                    class="text-sm font-medium text-gray-400 hover:underline"
                    >Forgot password?</a
                  >
                </div>
                <button
                  type="submit"
                  class="w-full formBtn text-white bg-customPurple hover:bg-customGreen focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                >
                  Sign in
                </button>
                <p class="text-sm font-light text-gray-400">
                  Don’t have an account yet?
                  <a
                    href="#"
                    class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                    >Sign up</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
