.chat {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
  border: 1px solid #3b3b3a;
  font-family: "Audiowide", sans-serif;
  padding: 10px;
  border-radius: 6px;
  background: #1f2023b0;
}
.textBlog {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 2rem;
  color: #fff;
  flex-direction: column;
  font-family: "Audiowide", sans-serif;
}
.recBlog {
  margin-top: 7rem;
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
  border: 1px solid #3b3b3a;
  font-family: "Audiowide", sans-serif;
  padding: 4%;
  color: #fff;
  border-radius: 15px;
  background: #1f2023dc;
  margin-bottom: 4rem;
}
