<div class="recBlog">
  <h2 class="text-lg text-customGreen mb-7">Recent Blog</h2>

  <div class="flex items-start gap-2.5">
    <img class="w-8 h-8 rounded-full" src="/assets/5014.jpg" alt="Death" />
    <div class="flex flex-col gap-1 w-full max-w-[450px]">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
        <span class="text-sm font-semibold text-customPurple">The One</span>
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
          >11:46</span
        >
      </div>
      <div class="flex flex-col leading-1.5 p-4rounded-e-xl rounded-es-xl chat">
        <p class="text-sm font-normal py-2.5 text-white">
          The End of the world is upon us listen to the demons they are the
          saviours.
        </p>
        <p class="text-sm font-normal pb-2.5 text-gray-900 dark:text-white">
          <a
            href=""
            class="text-customPurple dark:text-customPurple underline hover:no-underline font-medium break-all"
            >We Know You Like it Here, Read More</a
          >
        </p>
        <a
          href="#"
          class="bg-customGreen rounded-xl p-4 mb-2 hover:bg-gray-200 dark:hover:bg-gray-500"
        >
          <video
            autoplay
            muted
            loop
            src="https://framerusercontent.com/assets/Eeop5e6aBOQ5zOwzAp9XIKc6RU.mp4"
            class="background-video rounded-md"
            poster="https://framerusercontent.com/images/J2myYm4eRDG3ylMhrFJ8YmUOM.jpg"
          ></video>
          <span class="text-sm font-medium text-gray-900 dark:text-white mb-2"
            >The world came to an end in the year 2030...</span
          >
        </a>
      </div>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
        >01/04/2030</span
      >
    </div>
  </div>

  <div class="flex items-start gap-2.5 mt-5">
    <img class="w-8 h-8 rounded-full" src="/assets/5014.jpg" alt="Death" />
    <div class="flex flex-col gap-1 w-full max-w-[450px]">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
        <span class="text-sm font-semibold text-customPurple">The One</span>
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
          >11:46</span
        >
      </div>
      <div class="flex flex-col leading-1.5 p-4rounded-e-xl rounded-es-xl chat">
        <p class="text-sm font-normal py-2.5 text-white">
          The End of the world is upon us listen to the demons they are the
          saviours.
        </p>
        <p class="text-sm font-normal pb-2.5 text-gray-900 dark:text-white">
          <a
            routerLink="/blog-read"
            class="text-customPurple dark:text-customPurple underline hover:no-underline font-medium break-all"
            >We Know You Like it Here, Read More</a
          >
        </p>
        <a
          href="#"
          class="bg-customGreen rounded-xl p-4 mb-2 hover:bg-gray-200 dark:hover:bg-gray-500"
        >
          <video
            autoplay
            muted
            loop
            src="https://framerusercontent.com/assets/Eeop5e6aBOQ5zOwzAp9XIKc6RU.mp4"
            class="background-video rounded-md"
            poster="https://framerusercontent.com/images/J2myYm4eRDG3ylMhrFJ8YmUOM.jpg"
          ></video>
          <span class="text-sm font-medium text-gray-900 dark:text-white mb-2"
            >The world came to an end in the year 2030...</span
          >
        </a>
      </div>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
        >01/04/2030</span
      >
    </div>
  </div>
</div>
